body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #f2f1f8;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(234, 230, 244, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #570897;
    font-size: 2.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"],
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #07076e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b1b2c2;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

li .task-content {
    display: flex;
    align-items: center;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    input[type="text"],
    button {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    input[type="text"], input[type="datetime-local"], button {
        width: 100%;
        font-size: 12px;
        padding: 8px;
    }
    
    .action-buttons button {
        font-size: 12px;
        padding: 6px 8px; 
    }
}
